<section class="section">
  <h1 class="title">Contact Me</h1>
  <p>
    The best way to contact me is via email:
    <span class="tag is-info is-light">
      <i class="fas fa-envelope"></i> rameessahlumv&#64;yahoo.com
    </span>
    or send me a DM on LinkedIn.
  </p>

  <h1 class="title mt-5">Online Profiles</h1>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/rameessahlu/" target="_blank">
        <i class="fab fa-linkedin fa-fw"></i> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/rameessahlu" target="_blank">
        <i class="fab fa-github fa-fw"></i> GitHub
      </a>
    </li>
    <li>
      <a href="https://medium.rameessahlu.com" target="_blank">
        <i class="fab fa-medium fa-fw"></i> Medium
      </a>
    </li>
    <li>
      <a href="https://x.com/rameessahlu" target="_blank">
        <i class="fab fa-x-twitter fa-fw"></i> X (Twitter)
      </a>
    </li>
  </ul>
</section>
