<div class="columns">
  <div class="column is-two-thirds">
    <div class="content">
      <h1>About Me</h1>
      <p style="text-align: justify">
        Hi! I’m Ramees Sahlu, a full-stack engineer currently based in
        Bangalore, India. My journey in software development began back in high
        school, driven by a curiosity to build things from scratch. That passion
        led me to earn a Master’s in Computer Applications from Vellore
        Institute of Technology and eventually to a career spanning over six
        years in the software industry.
        <br />
        <br />
        I’ve worked with startups and large organizations, building everything
        from full-stack applications to automating infrastructure through
        DevOps. A few of my personal projects are showcased here, your feedback
        is always welcome. Thank you!
      </p>
    </div>
  </div>
  <div class="column">
    <figure class="image is-256x256">
      <img src="./../../assets/profile.jpg" />
    </figure>
  </div>
</div>
