<div class="columns">
  <div class="column is-two-thirds">
    <div class="content">
      <h1>About Me</h1>
      <p>
        Hi! I'm Ramees Sahlu, a full-stack engineer based in Bangalore, India. I
        am a graduate of the
        <a href="https://vit.ac.in/" target="_blank"
          >Vellore Institute of Technology</a
        >
        (Master of Computer Application). I've been in the software industry for
        more than two years and have professional experience working with both
        startups and large organizations. My skillset varies from full-stack
        development to DevOps automations.
        <br />
        <br />
        My interest in software development started in high school. Since then,
        I have individually built dozens of mobile apps and websites. Few of the
        projects are listed here, and please feel free to send me your feedback.
        Thank You.
      </p>
    </div>
  </div>
  <div class="column">
    <figure class="image is-256x256">
      <img src="./../../assets/profile.JPG" />
    </figure>
  </div>
</div>
