.heading {
  margin: auto;
  width: 80%;
  border: 1em;
  padding: 4em;
  font-family: "Lato", sans-serif;
}

.profile-img {
  height: 22em;
  padding: 0em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 2em;
}
