.category {
  margin: auto;
  width: 90%;
  border: 1em;
  padding: 2em;
  font-family: "Lato", sans-serif;
}

.project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.proj-heading {
  padding-top: 1em;
  font-family: "Lato", sans-serif;
}

.tab {
  color: #ffffff;
}