.social-links-about-me {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.social-links-about-me i {
  color: white;
  font-size: 2em;
  height: 1.2em;
}

.footer {
  text-align: center;
  align-content: center;
  font-size: 0.9em;
  font-family: "Fira Code";
}
