.layout-color {
  background: #0a192f;
}

.header-style {
  color: #ffffff;
}

p {
  color: #ccd6f6;
}

h1,
h2,
h3,
h4 {
  color: #ccd6f6;
}

.hash-link-style {
  color: white;
  font-family: "Lato";
}

.link-style {
  color: white;
  font-family: "Lato";
}

.numbering {
  color: #46b2a0;
  font-family: "Fira Code";
}

.intro {
  display: flex;
  flex-direction: row;
}
.intro::after {
  content: "";
  flex: 1 1;
  border-bottom: 0.2px solid #ccd6f6;
  margin: auto;
  margin-left: 1em;
}
